.card {
    border: none !important; 
}
.card-header,
.card-footer {
    background-color: #343a40 !important;
    color: #FFF;
    font-weight: bolder;
    height: 63px !important;
}
.btn-info {
    float: right;
}
/* .button {
    float: none !important;
} */
.dob-validation{
    display: block !important;
}
.react-datepicker-wrapper {
    width: 100%;
}