




.nav-item a{
  
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    color: rgba(255, 255, 255, 0.75);
  font-weight: bold;

}
.nav-item a:hover, a:focus {
  color: #ffffff;
  font-weight: bold;
  
}